@model TallerBecerraAguilera.Models.Vehiculos

<h1>Detalle Vehículo</h1>

<p><b>Patente:</b> @Model.patente</p>
<p><b>Marca:</b> @Model.marca</p>
<p><b>Modelo:</b> @Model.modelo</p>
<p><b>Año:</b> @Model.anio</p>
<p><b>Tipo:</b> @Model.tipo</p>
<p><b>Cliente:</b> @Model.Cliente?.Nombre @Model.Cliente?.Apellido</p>

<a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-primary">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
